.login_container {
    background: rgb(255, 255, 255);
    border: 3px solid #ffff;
    border-radius: 10px;
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 115px;
}

.login_container .login-text {
    color: rgb(37, 37, 37);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 30px;
}

.login_container .login-div {
    padding: 0 80px;
}

.username-input {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    width: 100%;
    min-width: 50px;
    height: 6px;
    padding: 14px;
    font-size: 15px;
}
.password-input {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    width: 100%;
    min-width: 50px;
    height: 6px;
    padding: 14px;
    font-size: 15px;
}
.text-danger {
    color: red;
    font-size: 12px;
}
.login-btn {
    width: 105%;
    min-width: 50px;
    margin-top: 10px;
    background: #009fa5;
    border: 2px solid #009fa5;
    border-radius: 4px;
    height: 40px;
    color: white;
    font-size: 25px;
}
.login-btn:hover {
    background: #007377;
    color: white;
}
#code {
    background-color: white;
    width: 37%;
    margin-left: 9px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}
.or_log_signup_txt {
    cursor: pointer;
}